/*读者中心的页面大小*/
    .outerDiv{
        width: 1200px;
        margin: 0 auto;
        height: 600px;
        /*border: 1px solid #8080801a;*/
    }
/*弹性布局横向布局*/
.flexLayoutRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*弹性布局纵向布局*/
.flexLayoutColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*有边框的表格样式*/
.haveTablePage .el-input__inner {
    border:1px solid #12B494;
    height: 30px;
    width: 180px;
}
.haveTablePage .el-table th {
    background-color: #12B494;
    color: white;
    padding: 5px 0;
}
.haveTablePage .el-table td {
    text-align: center;
    color: #2a2a2a;
    background-color: white;
    padding: 5px 0;
}
.haveTablePage .el-table th>.cell{
    text-align: center;
}
.haveTablePage .el-table--fit {
    border: 1px solid #ebeef5;
}
/*读者中心导航栏的样式设置*/
.outerDiv ol,.outerDiv ul {
    width: 220px;
}

.el-menu{
     border: 1px solid #12B494;
}
 .outerDiv .el-submenu {
    margin-bottom: 1px;
}
.outerDiv .el-submenu__title{
    background-color: #12B494;
    color: white;
    font-size: 16px;
    padding: 0px 20px;
    height: 55px;
}
.outerDiv .el-menu-item-group{
    background-color:#E7FFFA ;

}
.outerDiv .el-submenu .el-menu-item{
    color: #12B494;
    text-align: center;
    height: 50px;
    padding: 2px 45px;
    font-size: 15px;
}
.outerDiv .el-submenu .el-menu-item:hover{
    color: white;
    background-color: #5DDBC2;
    width: 240px;
    margin-left: -10px;
}
.outerDiv .el-menu-item.is-active{
    color: white;
    background-color: #5DDBC2;
    width: 240px;
    margin-left: -10px;
    text-align: center;
}
.outerDiv .el-menu-item-group__title{
    display: none;
}
/*读者中心页面的宽度设置*/
#documentProcessing{
    width: 100%;
}
/*挂失补办页面的按钮设置*/
.processing .el-button--primary{
    margin-top: 15px;
    width: 130px;
    border-radius: 5px;
}
/*挂失补办页面的弹窗样式设置*/
.v-modal{
    display: none;
}
/*挂失补办页面的弹窗设置*/
#BasicInfo{
    width: 100%;
}

/*修改密码，修改登录名的页面样式设置*/
#changePassword{
    width: 100%;
}
/*主要按钮和信息按钮的设置*/
.zyfPage .el-button{
    border-radius: 5px;
}
.zyfPage .el-button--primary{
    width: 150px;
}
.zyfPage .el-button--info{
    width: 150px;
    background: #b7b7b7;
    border-color:#b7b7b7 ;
}
/*读者中心页面的内边距设置*/
.ReaderCenter{
    padding: 5px 0px 0px 40px;
}
/*读者中心模块页面的标题样式设置*/
.zyfPage .title{
    margin-bottom: 10px;
}
.zyfPage .titleImg{
    width: 16px;
    height: 16px;
}
.zyfPage .titleFont{
    color: #12B494;
    font-size:16px
}
/*读者中心 新书通报 借阅排行的弹窗*/
.zyfPage .el-dialog{
    position: relative;
    margin: 0 auto 50px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 20px #12b4944a;
    box-shadow: 0 1px 20px #12b4944a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
}
.zyfPage .el-dialog__wrapper{
    top:280px
}
.zyfPage .el-dialog__body{
    text-align: center;
    padding: 40px 20px;
}
.zyfPage .el-dialog__header{
    padding: 0px;
}
.zyfPage .el-dialog__headerbtn{
    top: 5px;
    right: 5px;
}
/*读者中心的分页样式设置*/
.zyfPage .pagingBut .el-button{
    padding: 1px 10px ;
    border:1px solid #12B494;
    border-radius: 2px;
   height: 20px;
}
.zyfPage .pageInput{
    border: 1px solid #12B494;
    border-radius: 2px;
    width: 40px;
    margin:0px 10px 0px 10px;
    text-align: center;
    height: 16px;
}
/*图书续借的表格内按钮样式设置*/
#BookRenewal{
    width: 100%;
}
#BookRenewal .el-form-item {
    margin-bottom: 0px;
}
#BookRenewal .tableStyle .el-button--text{
    color: #FF3B31;
    font-size: 15px;
}
/*我的收藏的表格内按钮样式设置*/
#MyCollection .tableStyle .el-button--text{
    color: #FF3B31;
    font-size: 15px;
}
/*读者中心的表格按钮内编剧设置*/
.zyfPage .el-button--small, .el-button--small.is-round {
    padding: 1px 15px;
}
/*当前借阅查询的页面样式*/
#CurrentBorrowing{
    width: 100%;
}
#CurrentBorrowing .dateInput .el-input__inner{
    width: 150px;
    padding: 0px 5px 0px 25px;
}
#CurrentBorrowing .textInput .el-input__inner{
    width: 200px;
    padding: 0px 5px 0px 25px;
}
#CurrentBorrowing .el-date-editor.el-input{
    width: 153px;
}
/*历史借阅查询的页面样式设置*/
#HistoryLoanEnquiry {
    width: 100%;
}
#HistoryLoanEnquiry .dateInput .el-input__inner{
    width: 150px;
    padding: 0px 5px 0px 25px;
}
#HistoryLoanEnquiry .textInput .el-input__inner{
    width: 200px;
    padding: 0px 5px 0px 25px;
}
#HistoryLoanEnquiry .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 153px;
}
/**/
.zyfPage .el-col-2 {
    width: 3.33333%;
}
.zyfPage .el-col-11 {
    width: 50.83333%;
}
/*我的收藏的页面样式的设置*/
#MyCollection{
    width: 100%;
}
#MyCollection .el-input__inner{
    width: 100%;
}
#MyCollection .el-form-item{
    margin-bottom: 0px;
    width: 300px;
}
/*当前借阅查询的页面样式设置*/
#CurrentAppointmenr{
    width: 100%;
}
#CurrentAppointmenr .el-button--text {
    color: #409EFF;
    font-size: 15px;
}
/*读者自荐页面样式设置*/
#ReaderRecommendation{
    width: 100%;
}
#ReaderRecommendation .el-input__inner{
    width: 300px;
    border: 1px solid #12B494;
}
#ReaderRecommendation .el-textarea__inner{
    border:1px solid #12B494;
}
#ReaderRecommendation .reasonInput .el-form-item__label{
    font-weight: bold;
    color:#2a2a2a;
}
#OrderPage {
    width:100%
}
#OrderPage .el-input__inner{
    width: 220px;
}
#OrderPage .el-form-item{
    margin-bottom: 0px;
}
#OrderPage .el-dialog__title {
    line-height: 24px;
    font-size: 15px;
    color: #12b494c4;
}
#OrderPage .el-dialog__header{
    padding: 7px 10px;
    border-bottom: 2px solid #68e1c957;
}
#OrderPage .el-dialog__headerbtn{
    top: 10px;
}
#OrderPage .el-dialog__body {
    text-align: center;
    padding: 20px 25px;
}
#OrderPage .el-textarea__inner{
    border:1px solid #12b49499;
}
#OrderPage .tableStyle .el-button--text {
    color: #FF3B31;
    font-size: 15px;
}
/*登陆页面的样式设置*/
#login .el-input__inner{
    border: 1px solid #12B494;
    width: 362px;
}
#login .el-form-item__label{
    color: #12B494;
}
#login .el-form-item{
    margin-bottom: 40px;
}
#login .el-button{
    padding:12px 33px
}
#login .el-button--primary{
    background-color: #12B494;
    border-color: #12B494;
}
#login .el-button--info{
    background-color: #b7b7b7;
    border-color: #b7b7b7;
    margin-left: 20px;
}
/**
读者中心页面渐入的动画
***/
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(20%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.ReaderCenter{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
